body {
	background: url(../images/tatooine.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

*{
	font-family 	: "helvetica", sans-serif;
}

#banner{
	width 	: 100%;
	height 	: 150px;
	margin : 0 auto;
	padding : 10px;

}

#glassbody{ 
	width			: 100%;
	height			: 100%;
	border			: solid gray 1px;
	background 		: rgba(255, 255, 255, 0.5);
	margin 			: 0 auto;
	padding 		: 25px;
}

nav ul{
	border 		: none;
	list-style	: none; 
	padding		: 0px
}

nav ul li{
	border 		: none;
	width 		: 20%;
	text-align	:  center; 
	display		: inline-block; /*puts nav in a row */
}

nav ul li:hover{  /*dynamic link when hover */
	background	: white;
}

a {
    text-decoration : none;
    color : black;
}