	
#wrap{ 
	width			: 100%;
	height			: 50%;
	border-style	: solid;
	border-color	: black;
	border-width	: 5px;
	background-color: white;
}
	
#body{ 
	width			: 100%;
	height			: 50%;
	border			: solid black 5px;
	background-color: white;
}

#banner{
	height :150px;
	background: black;
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-position: right center; 
}

}

.container {
	border : solid 1px green;
	width : 1024px;
	margin: 0 auto;
	background-color: #FAFAFA
}
.heading {
	font-size 		: 30pt;
	color 			: #123456;
	font-family 	: sans-serif;
	letter-spacing 	: 25px;
	text-align 		: center; 
}

}

.glass {
	background 	: rgba (255,255,255,0.4); /*transparency*/
}

.centered {
	margin	: 0 auto;
	width 	: 40%;
	border 	: white;

}
	nav ul{
	border 		: none;
	list-style	: none; 
	padding		: 0px
}

nav ul li{
	border 		: none;
	width 		: 20%;
	text-align	:  center; 
	display		: inline-block; /*puts nav in a row */
}

nav ul li:hover{  /*dynamic link when hover */
	background	: black;
}

a {
    text-decoration : none;
    font-family 	: "helvetica", sans-serif;
    color : black;
}

section{
	width: 45%
	height: 100%;
	border-width: 1px black;
}

*{
	font-family 	: "helvetica", sans-serif;
}